<html>

<head>

<script type="text/javascript">

var i=1;


function place_order()
{
	
  var customer_name=document.getElementById("customer_name").value;
  var tax_id=document.getElementById("tax_id").value;


  // var item_list=[];


  // for(var i=1;i<=3;i++)
  // {
  //   var obj={};
  //   obj['item_name']=document.getElementById("item_name"+i.toString()).value;
  //   obj['quantity']=document.getElementById("quantity"+i.toString()).value;
  //   obj['price']=document.getElementById("price"+i.toString()).value;

  //   item_list.push(obj);

  // }

   var tag = '<tr> <td><input type="text" id="item_name'+i+'" list="json-datalist" placeholder="Add Products Here" class="tags"></td>'
       tag+='<td><input type="number" id="quantity'+i+'" value=1 class="quantity" min=0></td>'
       tag+='<td><input class="blue-text text-darken-2" type="number" id="price'+i+'" disabled></td></tr>'
       $("#mytable").append(tag);
       i=i+1;


</script>




</head>



<link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link type="text/css" rel="stylesheet" href="/static/materialize/css/materialize.min.css"  media="screen,projection"/>
<link type="text/css" rel="stylesheet" href="/static/materialize/css/colour.css"  media="screen,projection"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>




    <div class="row">
        <div class="col s14 m3"></div>
        <div class="col s14 m6">


<div>
<input type="text" id="customer_name"  placeholder="Customer Name">
<input type="text" id="tax_id"  placeholder="Tax Id">
</div>
</div>
<div class="col s14 m3"></div>
</div>

     <div class="row" >
        <div class="col s12 m2"></div>
        <div class="col s12 m8">
          <div class="card white darken-1" background-color="#FFD700" >
           <div class="row">
            <table><tr><td>         	
          <input type="text" id = "item_name" name = "item_name" placeholder="Item name"></td><td>
          <input type="number" id = "quantity" name = "quantity" placeholder="Quantity"></td><td>
          <input type="number" id = "price" name = "price" placeholder="Price"></td></tr>
          <!-- <input type="text" id = "unit" placeholder="Unit" class="tags"> -->
          </table>

          <button class="btn" type= "submit" name="submit" onclick="place_order()" >Add</button>
          
      </div>  
   </div>
    </div>
</div> 




<p id ="total">Total :    0</p>

 
  </div>           


<table id = "mytable"  class = "striped">
    <thead>
          <tr>
              <th data-field="item_name">Title</th>
              <th data-field="quantity">Description</th>
              <th data-field="price">Amount</th>
          </tr>
        </thead>

 </table>






</html>